.About {
    /* background-color: whitesmoke; */
}

.aboutHeadline {
    display: flex;
    justify-content: center;
    font-family: var(--font-main);
}

.aboutParallax1 {
    background-image: url('../Assets/pink-and-mint-30.jpg');
    height: 20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutBlurb {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: var(--font-main);
    font-size: large;
    text-align: center;
}

.aboutParallax2 {
    background-image: url('../Assets/croissantTulip.jpg');
    height: 20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutParallax3 {
    background-image: url('../Assets/softPinkTulip.jpg');
    height: 20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutParallax4 {
    background-image: url('../Assets/pinkYellowTulip.jpg');
    height: 20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutParallax5 {
    background-image: url('../Assets/tulipKeyboard.jpg');
    height: 20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nonNegotiables {
    /* display: flex; */
    
}

.nnBlurb {
    display: flex;
    justify-content: center;
    font-family: var(--font-main);
}

.nnImageDiv {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}
.nnimages {
    flex-direction: row;
    align-content: flex-end;
    height: 250px;
    width: 250px;
}

#blm {
    background-color: white;
}