ul {
    list-style-type: none;
    display: flex-end;
}
a {
    text-decoration: none;
    color: black !important;
}

li {
    display: inline;
    padding: 20px; 
    font-family: var(--font-main);
    
}

.Navbar {
    width: 100vw;
    /* border: 1px solid black; */
    
}
