ul {
    list-style-type: none;
    /* display: flex;
    justify-content: flex-end; */
}
a {
    text-decoration: none;
    color: black !important;
}

li {
   /* display: flex; */
    padding-right: 20px; 
    font-family: var(--font-main);
    font-size: large;
    }

.logo {
    width: 12%;
    height: auto;
    /* border: 1px solid hotpink; */
    padding-right: 2%;
    align-self: flex-start;
    object-fit: cover;

}

/* #navbar {
    display: flex;
    justify-content: flex-start;
} */

.Navbar {
    width: 100vw;
    /* border: 1px solid black; */
    /* background-color: #d6d2c4; */
    
    
    
}

.navbar-list-styling {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid purple; */
    margin-right: 2%;
    
    /* width: 100vw; */
}

.navbarDiv {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
    float: right;
}
.navbar-list {
    display: flex;
}