.App {
 overflow: hidden;
 display: flex;
 background-color: whitesmoke;
}

@import './CSS/main.css';
@import './CSS/variables.css';
@import './CSS/navbar.css';
@import './CSS/home.css';
@import './CSS/footer.css';
@import './CSS/about.css';
@import './CSS/social.css';


.tulipLogo {
    height: 40vh;
    width: 100%;
    border: 1px solid orange;
    /* margin: 0px 0px -40px 0px; */
    /* overflow: hidden; */
    
}




